*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background:
    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("assets/fundo.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}

.container{
    width:90%;
    max-width:850px;

    background:rgba(0,0,0,.45);

    backdrop-filter:blur(10px);

    border-radius:20px;

    padding:50px;

    text-align:center;

    box-shadow:0 0 25px rgba(0,0,0,.4);
}

h1{
    font-size:4rem;
    margin-bottom:20px;
}

.subtitulo{
    font-size:1.5rem;
    margin-bottom:15px;
}

.descricao{
    margin-bottom:30px;
    font-size:1.1rem;
}

.contato{
    background:rgba(255,255,255,.08);

    border-radius:15px;

    padding:25px;
}

.contato h2{
    margin-bottom:15px;
}

.contato p{
    margin:10px 0;
}

@media(max-width:768px){

    h1{
        font-size:2.5rem;
    }

    .container{
        padding:30px;
    }

}